[Unit]
Description=Pull completed downloads from remote server
After=network-online.target

[Service]
Type=oneshot
User={{ server_user }}
StandardOutput=append:/var/log/download-pull.log
StandardError=append:/var/log/download-pull.log
TimeoutStartSec=300
ExecStart=rsync -avz --bwlimit={{ sync_bwlimit_kbps }} \
  -e "ssh -i {{ sync_ssh_key_path }} -o StrictHostKeyChecking=yes -o BatchMode=yes" \
  {{ sync_remote_user }}@{{ sync_remote_host }}:{{ sync_remote_downloads_dir }}/ \
  /data/downloads/
