[Unit]
Description=SSHFS mount of seedbox downloads
After=network-online.target
Wants=network-online.target

[Mount]
What={{ sync_remote_user }}@{{ sync_remote_host }}:{{ sync_remote_downloads_dir }}
Where=/mnt/seedbox
Type=fuse.sshfs
Options=_netdev,reconnect,ServerAliveInterval=15,ServerAliveCountMax=3,IdentityFile={{ sync_ssh_key_path }},allow_other,StrictHostKeyChecking=yes,uid=1000,gid=1000

[Install]
WantedBy=multi-user.target
